[submodule "overlays/mempool-overlay"]
	path = overlays/mempool-overlay
	url = https://github.com/dambaev/mempool-overlay.git
[submodule "overlays/electrs-overlay"]
	path = overlays/electrs-overlay
	url = https://github.com/dambaev/electrs-overlay.git
